@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #121417;
  color: #F0F5F9;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .glass-card {
    @apply bg-white/[0.03] border border-white/5 backdrop-blur-sm;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.glass-panel {
  background-color: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(64px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.05), 0 20px 40px rgba(0,0,0,0.5);
}

.input-premium {
  width: 100%;
  background-color: transparent !important;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  transition: all 0.5s;
  padding-bottom: 1rem;
  font-size: 1.125rem;
  font-weight: 300;
  outline: none;
}

.input-premium:focus {
  border-color: #B45309;
}

.input-premium::placeholder {
  color: rgba(192, 192, 192, 0.4);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #121417;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B45309;
}

/* Film Grain Overlay */
.grain-overlay {
  position: fixed;
  top: -150%;
  left: -150%;
  width: 400%;
  height: 400%;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  background-repeat: repeat;
  opacity: 0.02;

  pointer-events: none;
  z-index: 9999;
  animation: grain 8s steps(10) infinite;
  mix-blend-mode: soft-light;
}

@keyframes grain {

  0%,
  100% {
    transform: translate(0, 0)
  }

  10% {
    transform: translate(-5%, -10%)
  }

  20% {
    transform: translate(-15%, 5%)
  }

  30% {
    transform: translate(7%, -15%)
  }

  40% {
    transform: translate(-5%, 20%)
  }

  50% {
    transform: translate(-15%, 10%)
  }

  60% {
    transform: translate(15%, 0)
  }

  70% {
    transform: translate(0, 15%)
  }

  80% {
    transform: translate(3%, 35%)
  }

  90% {
    transform: translate(-10%, 10%)
  }
}